
<p>
        <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
    
    </p>
    <p>
        <input class="form-control" #search (keyup)="filtter(search.value)" type="search" placeholder="Search" aria-label="Search">
    </p>

<data-table
 [items]="items"
[itemCount]="itemCount"
(reload)="reloadItems($event)">

<data-table-column
 [property]="'title'" [header]="'Title'" [sortable]="true" [resizable]="true" >
</data-table-column>

 <data-table-column [property]="'price'" [header]="'Price'" [sortable]="true" [resizable]="true" >
        <ng-template #dataTableCell let-item="item">
            {{item.price}}
              </ng-template>

  </data-table-column>
 <data-table-column [property]="'$key'">
        <ng-template #dataTableCell let-item="item">
                <a  [routerLink]="['/admin/products/',item.$key]">Edite</a>
              </ng-template>
 </data-table-column>

</data-table>


<!-- <table class="table">
    <thead>
        <tr>
                    <th>Title </th>
                   
                    <th> Price </th>
                    <th></th>               
        </tr>
       
    </thead>
    <tbody>
        <tr *ngFor="let item of filterProduct " >
            <td>{{item.title}}</td>
            <td>{{item.price}}</td>
            <td><a  [routerLink]="['/admin/products/',item.$key]">Edite</a> </td>
        </tr>
    </tbody>
</table> -->
